<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>지금부터 한달 동안 내가 N시간 운동한다면 얼마나 빠질까?</h1>
        <form action="/test" method="post">
            이전 데이터 추가(이전에 한달동안 x시간 해서 y키로 빠졌어요)
            <br>
            <input type="text" name = "minute">시간
            <input type="text" name = "weight">kg
            <input type="submit" value="추가">
        </form>
        <form action="/result" method="post2">
            분석 및 예측 시작
            <br>
            <input type="submit" value="시작">
        </form>
    </body>
</html>